<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Материнські плати</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/icon type">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30"
             class="d-inline-block align-top" alt="">
        Hardware Encyclopedia
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Головна</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Комп'ютерні комплектуючі
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/components/cpu">Процесори</a>
                    <a class="dropdown-item" href="/components/gpu">Відеокарти</a>
                    <a class="dropdown-item" href="/components/ram">Оперативна пам'ять</a>
                    <a class="dropdown-item" href="/components/storage">Жорсткі диски та SSD</a>
                    <a class="dropdown-item" href="/components/motherboard">Материнські плати</a>
                    <a class="dropdown-item" href="/components/power">Живлення</a>
                    <a class="dropdown-item" href="/components/case">Корпуси</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVideo" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Відео
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownVideo">
                    <a class="dropdown-item" href="/videos/reviews">Огляди комплектуючих</a>
                    <a class="dropdown-item" href="/videos/tutorials">Відеоуроки з встановлення та налаштування</a>
                    <a class="dropdown-item" href="/videos/new-releases">Новинки на ринку</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links">Корисні посилання</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Контакти розробника</a>
            </li>
        </ul>
    </div>
</nav>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#">🤔</a>
        </li>
        <li class="page-item"><a class="page-link" href="/">Головна</a></li>
        <li class="page-item"><a class="page-link" href="#">-></a></li>
        <li class="page-item"><a class="page-link" href="/components">Комп'ютерні комплектуючі</a></li>
        <li class="page-item"><a class="page-link" href="#">-></a></li>
        <li class="page-item"><a class="page-link" href="/components/motherboard">Материнські плати</a></li>
        <li class="page-item disabled">
            <a class="page-link " href="#">🤔</a>
        </li>
    </ul>
</nav>
<div class="container mt-5">
    <h1>Материнські плати</h1>
    <p>Материнська плата - це основна плата в комп'ютері, на якій розташовані основні компоненти
        інформаційно-обчислювальної системи. Вона забезпечує з'єднання та взаємодію всіх компонентів комп'ютера, таких
        як процесор, пам'ять, розширювані карти та інші пристрої.</p>
    <p>Материнські плати можуть мати різні розміри, форм-фактори та характеристики, що визначають їх сумісність з іншими
        компонентами комп'ютера та їх можливості.</p>
    <img src="{{ url_for('static', filename='img/motherboard.jpg') }}" class="img-fluid" alt="Материнська плата">
    <p>Від материнської плати залежить функціональність комп'ютера, що визначається елементами самої плати і
        підключеними до неї пристроями. Основу материнської плати складає пластина з провідними доріжками, якими
        електричний струм передається між складовими плати. Взаємодія деталей забезпечується <a
               title="Чипсет"><i>чипсетом</i></a>, який складається,
        як правило, з двох частин&nbsp;— <i>північного моста</i> (Northbridge) і <i>південного моста</i> (Southbridge).
        Зазвичай північний і південний міст розташовані на окремих мікросхемах. Передусім саме північний і південний
        мости визначають особливості системної плати і те, які пристрої можуть підключатися до неї. Іншими ключовими
        елементами є роз'єми для підключення <i><a  class="mw-redirect" title="CPU">центрального
            процесора</a>, <a
            title="Відеокарта">графічного адаптера</a>, <a

            title="Звукова плата">звукової плати</a>, <a
                     class="mw-redirect"
            title="Твердий диск">жорстких дисків</a>, <a

            title="Оперативна пам'ять">оперативної пам'яті</a>.</i> Крім них на платі містяться <i><a
                title="Резистор">резистори</a>, <a

            title="Електричний конденсатор">конденсатори</a></i>, що підтримують роботу кожної деталі. Живлення
        материнської плати і відповідно всіх підключених до неї пристроїв забезпечується <i><a

            title="Комп'ютерний блок живлення">блоком живлення</a></i>, поєднаним з платою кабелями.
    </p>
    <p>Всі основні електронні схеми плати і необхідні додаткові пристрої інтегровано в системну плату, або вони
        підключаються до неї за допомогою <i>слотів розширення</i>. Слоти дозволяють підключати модулі оперативної
        пам'яті, відеокарти, додаткові пристрої, як панелі з USB-портами. Також материнська плата містить <i>порти</i>
        для підключення дискових і твердотільних накопичувачів, <i>колодки</i> підключення портів USB і кнопок,
        вмонтованих у корпус, живлення кулерів. Деякі сучасні системні плати підтримують бездротові пристрої, що
        використовують протоколи <a  title="IrDA">IrDA</a>, <a
        title="Bluetooth">Bluetooth</a>, або <a
          class="mw-redirect" title="802.11">802.11</a> (<a  title="Wi-Fi">Wi-Fi</a>).
    </p>
    <p>На системній платі містяться:
    </p>
    <ul>
        <li><i><b><a

            title="Роз'єм процесора">Сокет</a></b></i> або <b><i>гніздо центрального процесора</i>.</b> З допомогою
            контактних ніжок чи пружних контактів процесор поєднується з сокетом. Здебільшого передбачається можливість
            заміни процесорів, проте зрідка центральний процесор припаюється до плати (<a  title="BGA">BGA</a>).
        </li>
        <li><i><b>Мікросхема <a  title="BIOS">BIOS</a></b></i>, призначена для забезпечення первинної
            роботи комп'ютера. Вона містить інформацію про підключені пристрої, режими їхньої роботи, та надає
            користувачеві через графічний інтерфейс на моніторі змогу змінювати конфігурацію обладнання. <i>Батарея</i>,
            що міститься поруч, забезпечує живлення годинника, котрий слугує для синхронізації пристроїв і забезпечує
            зручність користування комп'ютером. Наприклад, він визначає системний час і термін, впродовж якого
            користувач має змогу увійти в керування BIOS.
        </li>
        <li><i><b>Слоти модулів оперативної пам'яті.</b></i> Модулі форм-фактору <a
            title="DIMM">DIMM</a>&nbsp;типу <a
                  title="SDRAM">SDRAM</a>, такі як <a  class="mw-redirect" title="DDR">DDR</a>,
            <a  title="DDR2 SDRAM">DDR2</a> і новіші (слоти різні для кожного типу пам'яті).
            Найчастіше їх 3-4, хоча на компактних платах можна зустріти тільки 1 або 2 таких слоти;
        </li>
        <li><b><i>Роз'єм відеокарти</i>.</b> Спеціалізований рознім типу <a  title="AGP">AGP</a> або
            «широкий» <a  class="mw-redirect" title="PCI-Express">PCI-Express</a> слугує
            передусім для установки <a
            title="Відеокарта">відеокарти</a>. Також зустрічаються і системні плати без таких
            слотів&nbsp;— їхні чипсети мають вбудоване графічне ядро, і зовнішня графічна карта для них необов'язкова. В
            останньому випадку відеокарта використовує частину оперативної пам'яті, а не окрему відеопам'ять;
        </li>
        <li><i><b><a
            title="Слот розширення">Слоти розширення</a></b></i> стандартів <a PCI"
            title="PCI">PCI</a> або
            PCI-Express (раніше використовувалися слоти <a title="ISA">ISA</a>). Через них
            під'єднуються SSD-накопичувачі, контролери USB, WiFi-карти;
        </li>
        <li><i><b>Інтерфейси <a title="Serial ATA">Serial ATA</a></b></i> (раніше <a
              title="ATA">IDE</a>) для під'єднання дискових накопичувачів&nbsp;— <a
             class="mw-redirect"
            title="Твердий диск">твердих дисків</a> і <a
                     title="Дисковод">оптичних приводів</a>.
            Також там може знаходитися роз'єм для <a

            title="Гнучкий диск">floppy-дисковода</a> (3,5" дискети). Всі дискові накопичувачі підключаються до
            системної плати за допомогою спеціальних кабелів, які в розмовній мові називають «шлейфами»;
        </li>
        <li><i><b>Роз'єми живлення</b></i> (основні два типи&nbsp;— 24-контактний <a
                title="ATX">ATX</a> і 4-контактний
            ATX12V для додаткової лінії +12 V) і дво-, три- або чотирифазний модуль регулювання напруги VRM (Voltage
            Regulation Module), що складається з силових <a
                    title="Транзистор">транзисторів</a>,
            <a
                    title="Електричний дросель">дроселів</a> і <a

                    title="Електричний конденсатор">конденсаторів</a>. Цей модуль перетворює, стабілізує і фільтрує <a

                    title="Електрична напруга">напругу</a>, що подається від блоку живлення;
        </li>
        <li><i><b>Задня панель</b></i> з роз'ємами для підключення додаткових зовнішніх пристроїв&nbsp;— <a
                title="Монітор">монітора</a>, <a

                title="Клавіатура">клавіатури</a> і <a title="Миша">миші</a>,
            мережевих-, аудіо- і <a title="USB">USB</a>-пристроїв тощо. Часто комплектується заглушкою,
            що закриває невикористовуваний простір між роз'ємами і корпусом;
        </li>
        <li>Окрім перелічених слотів і роз'ємів, на будь-якій системній платі є велика кількість допоміжних <i>джамперів
            (перемичок)</i> і <i>роз'ємів</i>: це можуть бути і контакти для підключення <i>системного динаміка, кнопок
            і індикаторів на передній панелі корпусу</i>, і <i>роз'єми для підключення вентиляторів</i>, і <i>контактні
            колодки</i> для підключення додаткових аудіороз'ємів і роз'ємів <a title="USB">USB</a> і <a
                title="FireWire">FireWire</a><sup id="cite_ref-2" class="reference"><a
                href="#cite_note-2">[2]</a></sup>.
        </li>
    </ul>
    <h2 id=""><span id=""></span>Класифікація системних плат за форм-фактором</h2>
    <p>
        <a
                class="mw-redirect" title="Форм-фактор (техніка)">Форм-фактор</a> системної плати&nbsp;— стандарт, що
        визначає розміри системної плати для персонального комп'ютера, місця її кріплення до корпусу; розташування на
        ній інтерфейсів шин, портів вводу/виводу, сокета центрального процесора і слотів для оперативної пам'яті, а
        також тип роз'єму для підключення блоку живлення.
    </p>
    <p>Форм-фактор (як і будь-які інші стандарти) має рекомендаційний характер, проте переважна більшість виробників
        намагаються їх дотримуватися, оскільки ціною відповідності існуючим стандартам є сумісність системної плати і
        стандартизованого устаткування (периферії, карт розширення) інших виробників. Застарілими вважаються: Baby-AT;
        Mini-ATX; повнорозмірна плата AT; LPX. Сучасними вважаються: АТХ; microATX; Flex-АТХ; NLX; WTX. Впроваджуваними
        вважаються: <a title="Mini-ITX">Mini-ITX</a> і <a title="Nano-ITX">Nano-ITX</a>;
        <a title="Pico-ITX">Pico-ITX</a>; <a title="BTX">BTX</a>, MicroBTX і
        PicoBTX.
    </p>
    <p>Існують системні плати невідповідні жодним з існуючих форм-факторів (див. таблицю). Зазвичай це обумовлено або
        тим, що вироблюваний комп'ютер вузько спеціалізований, або бажанням виробника системної плати самостійно
        виробляти і периферійні пристрої до неї, або неможливістю використання стандартних компонентів (так званий
        «бренд», наприклад Apple Computer, Commodore, Silicon Graphics, Hewlett Packard, Compaq частіше за інших
        ігнорували стандарти; крім того в нинішньому вигляді розподілений ринок виробництва сформувався тільки до 1987&nbsp;р.,
        коли багато виробників вже створили власні платформи).
    </p>
    <table class="wide">
        <tbody>
        <tr>
            <th>Форм-фактор</th>
            <th>Фізичні розміри</th>
            <th>Специфікація, рік</th>
            <th>Примітки
            </th>
        </tr>
        <tr>
            <td><b>XT</b></td>
            <td>8,5 × 11" (216 × 279 мм)</td>
            <td>IBM, 1983</td>
            <td>архітектура IBM PC XT
            </td>
        </tr>
        <tr>
            <td><b>AT</b></td>
            <td>12 × 11"–13" (305 × 279–330 мм)</td>
            <td>IBM, 1984</td>
            <td>архітектура IBM PC AT (Desktop/Tower)
            </td>
        </tr>
        <tr>
            <td><b>Baby-AT</b></td>
            <td>8,5" × 10"–13" (216 × 254-330 мм)</td>
            <td>IBM, 1990</td>
            <td>архітектура IBM PC XT (форм-фактор вважається недійсним з 1996.)
            </td>
        </tr>
        <tr>
            <td><b>ATX</b></td>
            <td>12" × 9,6" (305 × 244 мм)</td>
            <td>Intel, 1995</td>
            <td>для системних блоків типів MiniTower, FullTower
            </td>
        </tr>
        <tr>
            <td><b>ATX Riser</b></td>
            <td></td>
            <td>Intel, 1999</td>
            <td>для системних блоків типа Slim
            </td>
        </tr>
        <tr>
            <td><b>eATX</b></td>
            <td>12" × 13" (305 × 330 мм)</td>
            <td></td>
            <td>
            </td>
        </tr>
        <tr>
            <td><b>Mini-ATX</b></td>
            <td>11,2" × 8,2" (284 × 208 мм)</td>
            <td></td>
            <td>для системних блоків типа Tower и компактних Desktop
            </td>
        </tr>
        <tr>
            <td><b>microATX</b></td>
            <td>9,6" × 9,6" (244 × 244 мм)</td>
            <td>Intel, 1997</td>
            <td>блока живлення (PSU)
            </td>
        </tr>
        <tr>
            <td><b>LPX</b></td>
            <td>9" × 11"–13" (229 × 279–330 мм)</td>
            <td>Western Digital, 1987</td>
            <td>для системних блоків типа Slim
            </td>
        </tr>
        <tr>
            <td><b>Mini-LPX</b></td>
            <td>8"–9" × 10"–11" (203–229 мм × 254–279 мм)</td>
            <td>Western Digital, 1987</td>
            <td>для системних блоків типа Slim
            </td>
        </tr>
        <tr>
            <td><b>NLX</b></td>
            <td>8"–9" × 10"-13,6" (203–229 мм × 254–345 мм)</td>
            <td>Intel, 1997</td>
            <td>передбачений AGP, краще охолодження порівняно з LPX
            </td>
        </tr>
        <tr>
            <td><b>FlexATX</b></td>
            <td>9,6" × 7,5"-9.6" (244 ×&nbsp;?-244 мм)</td>
            <td>Intel, 1999</td>
            <td>розроблений як заміна для форм-фактора MicroATX
            </td>
        </tr>
        <tr>
            <td><b>Mini-ITX</b></td>
            <td>6,7" × 6,7" (170 × 170 мм)</td>
            <td>VIA Technologies, 2003</td>
            <td>допускаються лише 100 Вт блоки живлення
            </td>
        </tr>
        <tr>
            <td><b>Nano-ITX</b></td>
            <td>(120 × 120 мм)</td>
            <td>VIA Technologies, 2004</td>
            <td>
            </td>
        </tr>


        <tr>
            <td><b>BTX</b></td>
            <td>12,8" × 10,5" (325 × 267 мм)</td>
            <td>Intel, 2004</td>
            <td>допускається до 7 слотів и 10 отворів для монтажу плати
            </td>
        </tr>
        <tr>
            <td><b>MicroBTX</b></td>
            <td>10,4" × 10,5" (264 × 267 мм)</td>
            <td>Intel, 2004</td>
            <td>допускається до 4 слотів и 7 отворів для монтажу плати
            </td>
        </tr>
        <tr>
            <td><b>PicoBTX</b></td>
            <td>8,0" × 10,5" (203 × 267 мм)</td>
            <td>Intel, 2004</td>
            <td>допускається 1 слот и 4 отвір для монтажу плати
            </td>
        </tr>
        <tr>
            <td><b>WTX</b></td>
            <td>14" × 16,75" (355,6 × 425,4 мм)</td>
            <td>1999</td>
            <td>для продуктивних робочих станцій та серверів середнього рівня
            </td>
        </tr>
        <tr>
            <td><b>ETX</b> и <b>PC-104</b></td>
            <td></td>
            <td></td>
            <td>використовуються для вбудованих (<i>embedded</i>) систем
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
